<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Match Stats </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
          </div>
      </fieldset>
      <h3> Match Stats </h3> 
        <% if(id !== null){ %>
            <p><%= id %></p>
          <% } %>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
    </div>
  </body>
</html>