<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Scorebot </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <form action="/matches" method="get">
                    <input type="submit" class="ghost-button" value="Back to Matches">
            </form>
          </div>
      <h3> Live Scores </h3> 
        <% if(match !== null){ %>
            <p><%= JSON.stringify(match) %></p>
          <% } %>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
      </fieldset>
  </body>
</html>